[submodule "excons"]
	path = excons
	url = git@github.com:marza-animation-planet/excons.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:marza-animation-planet/zlib.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:marza-animation-planet/libpng.git
[submodule "libtiff"]
	path = libtiff
	url = git@github.com:marza-animation-planet/libtiff.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = git@github.com:marza-animation-planet/libjpeg-turbo.git
[submodule "openjpeg"]
	path = openjpeg
	url = git@github.com:marza-animation-planet/openjpeg.git
[submodule "freetype"]
	path = freetype
	url = git@github.com:marza-animation-planet/freetype.git
[submodule "openexr"]
	path = openexr
	url = git@github.com:marza-animation-planet/openexr.git
[submodule "OpenColorIO"]
	path = OpenColorIO
	url = git@github.com:marza-animation-planet/OpenColorIO.git
[submodule "LibRaw"]
	path = LibRaw
	url = git@github.com:marza-animation-planet/LibRaw.git
[submodule "Little-cms"]
	path = Little-cms
	url = git@github.com:marza-animation-planet/Little-cms.git
[submodule "bzip2"]
	path = bzip2
	url = git@github.com:marza-animation-planet/bzip2.git
[submodule "pybind11"]
	path = pybind11
	url = git://github.com/pybind/pybind11.git
[submodule "robin-map"]
	path = robin-map
	url = git://github.com/Tessil/robin-map.git
[submodule "jbigkit"]
	path = jbigkit
	url = git@github.com:marza-animation-planet/jbigkit
