*~
branches/
build/
dist/
ext/
testsuite/runtest.pyc
.cproject
.project
.DS_Store

.sconsign.dblite
.build/
oiio.cmake.*
release/
debug/
excons.cache
*.cmake.*
*.automake.*
.sconf_temp
config.log
eco/
oiio.env.tmp
.vscode/
